ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body, ul, li, a, h1, h2, h3, h4, h5, h6, p, div, img {
  padding: 0;
  margin: 0;
}

.heading.heading--header {
  font-size: 30px;
  line-height: 50px;
  width: 100%;
  color: #8763F5;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .heading.heading--header {
    text-align: left;
  }
}
.heading.heading--section {
  font-size: 25px;
  line-height: 50px;
  padding: 30px 0;
  width: 100%;
  color: #DB8D34;
  text-align: center;
}

.btn {
  align-items: center;
}
.btn.btn--add-cart {
  height: 50px;
  border-color: transparent;
  border-radius: 10px;
  background-color: #8763F5;
  color: #fff;
  font-size: 20px;
}
.btn.btn--cart-submit {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #8763F5;
  color: white;
  height: 40px;
  width: 80%;
  margin: 0 auto;
  border: transparent;
  border-radius: 10px;
}

header .wrapper {
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
}
.wrapper.wrapper--header {
  display: grid;
  grid-template-rows: repeat(2, 60px);
}
@media screen and (min-width: 600px) {
  .wrapper.wrapper--header {
    display: flex;
    padding: 0 50px;
  }
}
.wrapper.wrapper--shop {
  width: 100%;
}

.nav {
  display: flex;
}
.nav li {
  flex: 1;
  text-align: center;
  border-bottom: 2px solid #DB8D34;
  line-height: 50px;
}
@media screen and (min-width: 600px) {
  .nav li {
    padding: 5px 20px;
    border-color: transparent;
  }
}
.nav li a {
  color: #8763F5;
}
.nav li.active {
  border-color: #643e12;
}
@media screen and (min-width: 600px) {
  .nav li.active {
    border-color: transparent;
  }
}

.shop {
  width: 100%;
  box-sizing: border-box;
  padding: 0 50px;
  display: grid;
  gap: 30px;
}
@media screen and (min-width: 600px) {
  .shop {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 850px) {
  .shop {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1400px) {
  .shop {
    grid-template-columns: repeat(4, 1fr);
  }
}
.shop h1 {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.shop.shop__item {
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  gap: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px -5px black;
}
.shop.shop__item img {
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 10px 10px 0 0;
}
.shop.shop__item.shop__item__info {
  box-shadow: none;
  padding: 0 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  flex-direction: row;
}
.shop.shop__item.shop__item__info h2 {
  line-height: 50px;
  font-size: 20px;
  color: #8763F5;
}
.shop.shop__item.shop__item__info p {
  line-height: 50px;
  color: #DB8D34;
  font-weight: bold;
}

footer {
  background-color: #333333;
  width: 100%;
  box-sizing: border-box;
  padding: 50px 100px;
  display: flex;
  margin-top: 30px;
}
@media screen and (max-width: 600px) {
  footer {
    padding: 30px 20px;
  }
}
footer h2 {
  color: #8763F5;
  margin-bottom: 20px;
}
footer ul {
  margin-left: 10px;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a {
  color: #fff;
}

.product {
  width: 100%;
  display: grid;
  gap: 15px;
  box-sizing: border-box;
  padding: 0 20px;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .product {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .product {
    grid-template-columns: repeat(2, 1fr);
  }
}
.product.product__image {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1025px) {
  .product.product__image {
    min-height: 500px;
  }
}
.product.product__image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 20px -5px black;
}
.product.product__info {
  grid-template: none;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.product.product__info h2 {
  color: #8763F5;
}
.product.product__info p {
  margin: 5px 0;
  line-height: 25px;
  flex: 1;
}
.product.product__info.product__info__couleur {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  flex-direction: row;
  justify-content: space-between;
}
.product.product__info.product__info__couleur label {
  font-weight: bold;
}
.product.product__info.product__info__couleur select {
  flex: 1;
  margin-left: 20px;
}
.product.product__info.product__info__price {
  flex-direction: row;
  position: relative;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
}
.product.product__info.product__info__price p:nth-child(1) {
  font-weight: bold;
}
.product.product__info.product__info__price p:nth-child(2) {
  font-weight: bold;
  font-size: 45px;
  flex: 1;
  text-align: right;
  color: #DB8D34;
}

.cart.cart__item {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}
.cart.cart__item.cart__item__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart.cart__item.cart__item__image img {
  width: 100%;
}
.cart.cart__item.cart__item__info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
}
.cart.cart__item.cart__item__info h2 {
  color: #8763F5;
  margin-top: 10px;
}
.cart.cart__item.cart__item__info > p {
  flex: 1;
  line-height: 22px;
}
.cart.cart__item.cart__item__info.cart__item__info__price {
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
.cart.cart__item.cart__item__info.cart__item__info__price p:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
}
.cart.cart__item.cart__item__info.cart__item__info__price p:nth-child(2) {
  text-align: right;
  font-size: 30px;
  color: #DB8D34;
}
.cart.cart__item.cart__item__quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: 2;
}
.cart.cart__item.cart__item__quantity input {
  width: 30%;
  min-width: 30px;
}
.cart.cart__item button {
  grid-row: 2;
  width: 70%;
  margin: 0 auto;
  background-color: #8763F5;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  height: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 20px;
  flex: 1;
}
.form.form__group {
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.form.form__group > .form.form__input {
  color: #DB8D34;
  display: block;
  text-align: left;
}
.form.form__group > .form.form__input input {
  width: 100%;
}
.form.form__input {
  display: flex;
  margin: 10px 0;
}
.form.form__input label {
  color: #DB8D34;
  display: block;
  width: 70px;
  text-align: left;
  margin-bottom: 10px;
}
.form.form__input input {
  height: 30px;
  box-sizing: border-box;
}

.total {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
}
.total h2 {
  padding: 0;
  margin: 10px 0 30px 0;
  font-size: 20px;
}
.total.total__desc {
  display: flex;
  padding: 0;
  margin: 0;
  order: 1;
  justify-content: space-between;
  margin-right: 50px;
  grid-row: 2/3;
}
.total.total__desc p:nth-child(2) {
  font-size: 25px;
}

.valider-commande {
  display: flex;
}

@media screen and (min-width: 1200px) {
  #panier {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/*# sourceMappingURL=main.css.map */
