.btn{
    &.btn--add-cart{
        height: 50px;
        border-color: transparent;
        border-radius: 10px;
        background-color: $color-primary;
        color: #fff;
        font-size: 20px;
    }
}